html, body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #EEF0F4;
  color: #432000;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

button {
  color: #FDFDFD;
  background-color: #87b9cb;
  border: 0;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 10px;
}

button:hover {
  background-color: #432000;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

ul li {
  font-size: 16px;
  background-color: #FFFDF8;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 8px; 
}

ul li button {
  margin: 0; 
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  width: 100%; 
}

ul li:hover {
  background-color: #FFECC7;
  cursor: pointer;
}

.tab-button {
  width: 24%;
  padding: 10px 10px;
  border-radius: 6px;
  font-size: 14px;
  background-color: #DCE1EB;
  border: none;
  cursor: pointer;
}

.tab-button.active {
  background-color: #4877ac;
  color: white;
}

.tab-button:hover {
  background-color: #5e72a8;
}

input, select {
  color: #432000;
  background-color: #DCE1EB;
  border: 0;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  margin: 8px 0;
}

.datepicker {
  width: 100%;
  box-sizing: border-box;
}

input[type="text"],
.datetimepicker {
  width: 100%;           
  padding: 10px;      
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc; 
  border-radius: 8px;         
  background-color: #DCE1EB; 
  color: #432000;  
  text-align: center;
}

@media (max-width: 600px) {
  .datetimepicker {
    font-size: 16px;
    padding: 10px;
  }
}
